<a href="https://colab.research.google.com/github/ambicapvs/ambica_info5731_spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
a = "python" #sample string
print(len(a))#considering string as array

6

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [54]:
sample = "google.com"
a = set(sample)
result = {}
for i in a:
  counter=0
  for j in sample:
    if i==j:
      counter = counter+1
  result[i]=counter
print(result)

{'.': 1, 'e': 1, 'l': 1, 'o': 3, 'g': 2, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [7]:
sample = [1,2,3,4,5]
total = 0
for i in sample:
  total = total+i
print(total)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [38]:
sample= "google"
first_char = sample[0]
result = first_char
for i in sample[1:]:
  if first_char == i:
    result = result + "$"
  else:
    result = result + i 
print(result)

goo$le

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [12]:
a = int(input("enter value of a:"))#input for a and convert to integer
b = int(input("enter value of b:"))#input for b and convert to integer
s = 3.14*(1+(a/b))**3 
print("S =",s)

enter value of a:2
enter value of b:1
S = 84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 = {}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [24]:
sample_tup = ("python","c","java") #sample of tuple
element= input("enter element to be checked : ") #users input
if element in sample_tup: 
  print("element exist")
else:
  print("element does not exist")

enter element to be checked : 444
element does not exist

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [30]:
sample_set={9,8,1,2,3,4,5,6}
max_value= max(sample_set)
min_value=min(sample_set)
print("maximum value of set= ", max_value)
print("minimum value of set= ", min_value)

maximum value of set=  9
minimum value of set=  1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [57]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
newlist = random.sample(studnet_list,5)
print(newlist)

['yye0005', 'rs0850', 'snd0097', 'rrk0058', 'bk0301']